.tips{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: .28rem;
    color: #fff;
    position: fixed;
    top: 40%;
    margin: auto;

    p{
        display: inline-block;
        margin: 0 auto;
        background: rgba(0,0,0,0.7);
        padding: .15rem .35rem;
        border-radius: .1rem;
        max-width: 66%;
        line-height: 0.5rem;
    }
}
